#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

#define MOUSE 4
#define SCROLL 5
#define NUM 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        zenkakuHankaku {
            bindings = <&kp GRAVE>;
            key-positions = <11 12>;
        };

        RightClick {
            bindings = <&mkp RCLK>;
            key-positions = <19 20>;
        };

        prevClick {
            bindings = <&mkp MB4>;
            key-positions = <32 31>;
        };

        nextClick {
            bindings = <&mkp MB5>;
            key-positions = <30 31>;
        };

        insertKey {
            bindings = <&kp INS>;
            key-positions = <6 7>;
        };

        deleteKey {
            bindings = <&kp DELETE>;
            key-positions = <8 7>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        mkpt: mkpt {
            compatible = "zmk,behavior-hold-tap";
            label = "MKPT";
            bindings = <&mkp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <125>;
            hold-trigger-key-positions = <37>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q          &kp W         &kp E               &kp R                 &kp T                                                     &kp Y        &kp U  &kp I      &kp O    &kp P
&kp A          &kp S         &kp D               &kp F                 &kp G        &mkp MB1                &kp INTERNATIONAL_3  &kp H        &kp J  &kp K      &kp L    &lt 5 MINUS
&kp Z          &kp X         &kp C               &kp V                 &kp B        &kp COLON               &lt 6 BACKSLASH      &kp N        &kp M  &kp COMMA  &kp DOT  &kp BACKSPACE
&mt LCTRL ESC  &kp LEFT_WIN  &mt LEFT_ALT GRAVE  &mkpt MB3 INT_HENKAN  &lt 5 ENTER  &lt_to_layer_0 1 TAB    &lt 1 BACKSPACE      &lt 2 SPACE                             &mt RIGHT_SHIFT SLASH
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        FUNCTION {
            bindings = <
&kp EXCLAMATION  &kp AT_SIGN  &kp HASH  &kp DOLLAR  &kp PERCENT                                          &kp CARET     &kp AMPERSAND        &kp ASTERISK           &kp LEFT_PARENTHESIS  &kp LEFT_BRACKET
&kp SLASH        &trans       &trans    &trans      &kp SEMICOLON  &trans          &trans                &trans        &trans               &kp RIGHT_BRACKET      &kp BACKSLASH         &kp EQUAL
&trans           &trans       &trans    &trans      &kp SQT        &kp ASTERISK    &kp LEFT_PARENTHESIS  &kp KP_EQUAL  &kp INTERNATIONAL_3  &kp LS(RIGHT_BRACKET)  &kp RS(BACKSLASH)     &kp LS(INTERNATIONAL_1)
&trans           &trans       &trans    &trans      &trans         &trans          &trans                &trans                                                                          &kp RS(QUESTION)
            >;
        };

        NUM {
            bindings = <
&kp F1  &kp F2  &kp F3           &kp F4   &kp F5                                 &trans  &trans  &kp LA(PSCRN)  &trans  &kp LC(LA(DELETE))
&kp F6  &kp F7  &kp F8           &kp F9   &kp F10  &kp LC(LA(C_MUTE))    &trans  &trans  &trans  &kp LS(LG(S))  &trans  &kp LC(LS(ESC))
&trans  &trans  &kp KP_NUMBER_2  &kp F11  &kp F12  &trans                &trans  &trans  &trans  &trans         &trans  &kp LC(LA(INS))
&trans  &trans  &trans           &trans   &trans   &trans                &trans  &trans                                 &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
        };

        ARROW {
            bindings = <
&kp ESCAPE      &kp LC(LS(TAB))         &kp UP_ARROW    &kp LC(TAB)              &trans                     &trans  &trans  &trans  &trans  &trans
&kp HOME        &kp LEFT_ARROW          &kp DOWN_ARROW  &kp RIGHT_ARROW          &kp END  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&kp LEFT_SHIFT  &kp LG(LS(LEFT_ARROW))  &trans          &kp LG(LS(RIGHT_ARROW))  &trans   &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans          &trans                  &trans          &trans                   &trans   &trans    &trans  &trans                          &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans    &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &mkp MB1  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans    &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                            &trans
            >;
        };

        SCROLL {
            bindings = <
&trans    &kp LC(LG(LEFT))  &kp UP_ARROW  &kp LC(LG(RIGHT))  &trans                               &kp KP_MULTIPLY  &kp NUMBER_7  &kp N8        &kp N9        &kp KP_PLUS
&trans    &kp LEFT          &kp DOWN      &kp RIGHT          &kp SEMI        &trans    &trans     &kp KP_SLASH     &kp NUMBER_4  &kp N5        &kp N6        &kp KP_MINUS
&kp HOME  &kp PAGE_DOWN     &kp END       &kp PG_UP          &kp APOSTROPHE  &trans    &trans     &kp UNDERSCORE   &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp BACKSPACE
&trans    &trans            &trans        &trans             &trans          &trans    &kp ENTER  &kp NUMBER_0                                               &kp QUESTION
            >;

            sensor-bindings = <&inc_dec_kp UP_ARROW DOWN>;
        };

        layer_6 {
            bindings = <
&trans  &trans        &trans        &trans        &trans                         &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans        &trans        &trans        &trans  &trans    &trans       &trans        &trans        &trans        &trans        &trans
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans    &bootloader  &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &trans        &trans        &trans        &trans  &trans    &trans       &trans                                                  &bt BT_CLR_ALL
            >;
        };
    };
};
